.iconos{
    width: 15px;
}

.table{
    text-align: center;
}
.texto{
    font-size: 25px;
    font-weight: bold;
    font-family: Calibri;
}
.titulo{
    font-weight: bold;
    font-family: Zurich BT;
    color: #238276;
}
body{
  background: url('../img/logo.png');
  background-size: cover;
  background-position: center;
}
.container {
  margin: 0.5%;
  opacity: 0.90;
  max-width: 700px;
  padding: 20px 0;
}
.form-row {
  padding: 5px 0;
}
.select{
  max-width: 58px;
}
.bg-light{
  border-radius: 50px;
}
#ejemplo1 {
position:absolute;
width:480px;
height:82%;
left: 60%;
bottom:-250px;
cursor: pointer;
font-family:cursive;
color: black;
font-size: 13px;
justify-content: center;
}