.login-clean {
  background-image: url(../img/fondo1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.centrado{
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.login-clean form {
  max-width:320px;
  width:110%;
  margin:5% auto;
  background-color:#f7f9fc;
  padding:40px;
  border-radius:20px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  cursor:context-menu;
}

.login-clean .illustration {
  text-align:center;
  margin-top: -20px;
  font-size:80px;
}

.login-clean form .form-control {
  background:#f7f9fc;
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:8px;
  height:42px;
}

.login-clean form .btn-primary {
  background:#6b03fc;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background:#77c8ff;
}

.login-clean form .btn-primary:active {
  transform:translateY(1px);
}

.login-clean form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity:1;
  text-decoration:none;
}
