#header {
	width: 90%;
	height: 280px;
	/*padding-top: 25%;*/
	/*position: relative;
	/*border: solid;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 1% 5%;
	/*margin-top: -1%;*/
	font-family: Arial, Helvetica, sans-serif;
}

* {
	padding: 0px;
	margin: 0px;
}



ul, ol a {
	list-style: none;
}

.nav li a{
	background-color: #79CE1E;
	color: #000;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
	padding: 1em 1em; 
}

.nav li a:hover {
	background-color: #FE9A2E;
	color: #fff;
}

.nav > li{
	float: left;
	width: 16.5%;
}

.nav{
	display: table;
	width: 100%;
}

.nav li ul {
	display: none;
	position: absolute;
	min-width: 14.9%;
}

.nav li:hover > ul {
	display: block;
}

.nav li ul li {
	position: relative;
}

.nav li ul li ul {
	right: -100%;
	top: 0px;
	width: 100%;
}

